<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7fda48dd8d.js" crossorigin="anonymous"></script>
    <title>GDLWEBCAMP</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="index">
    <!-- Header -->
    <header class="index__header">
        <div class="index__header--backgound">
            <nav class="index__header__redes">
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-pinterest"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-youtube"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                </ul>
            </nav>

            <div class="index__header__titulo">
                <div class="index__header__titulo-descripcion">
                    <p class="fecha"><i class="fa-solid fa-calendar-days"></i> 12/07/2023</p>
                    <p class="lugar"><i class="fa-solid fa-location-dot"></i> La Rioja - Argentina
                    </p>
                </div>
                <h1>GDLWEBCAMP</h1>
                <p class="index__header__titulo-slogan">La mejor conferencia de <span>diseño web</span></p>

            </div>
        </div>

        <div class="index__barra__navegacion">
            <figure>
                <img src="/img/logo.svg" alt="">
            </figure>

            <nav class="index__barra__navegacion--link">
                <ul>
                    <li><a href="conferencia">conferencia</a></li>
                    <li><a href="calendario">calendario</a></li>
                    <li><a href="invitados">invitados</a></li>
                    <li><a href="reservaciones">reservaciones</a></li>
                </ul>
            </nav>
        </div>
    </header>




    <!-- MAIN -->
    <main class="index__main">
        <!-- cronograma de eventos -->
        <section class="index__main__section">

            <h2>La mejor conferencia de diseño web en español</h2>
            <img src="/img/separador.png" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque quaerat libero suscipit voluptatum ipsa,
                quia eos ex laudantium nesciunt. Distinctio sapiente facilis veritatis laudantium ut ipsam cupiditate
                recusandae nulla nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti blanditiis
                molestias amet quisquam minus at aliquid eligendi id repudiandae voluptate ea voluptatibus, nihil sit
                temporibus magni ducimus, non rerum deleniti!</p>
        </section>
        <div class="index__main__section__contenedor">
            <div class="index__main__section__div-video">
                <video autoplay loop muted>
                    <source src="/video/video.mp4" type="video/mp4">
                    <source src="/video/video.webm" type="video/webm">
                    <source src="/video/video.ogv" type="video/ogv">
                </video>
            </div><!-- contender de video -->
            <div class="index__main__section__div-eventos">
                <h2>porgrama del evento</h2>
                <img src="/img/separador.png" alt="">
                <nav class="index__main__section__div-curso-navegacion">
                    <ul>
                        <li><a href=""><i class="fa-solid fa-code"></i> Telleres</a></li>
                        <li><a href=""><i class="fa-solid fa-comments"></i>Comentarios</a></li>
                        <li><a href=""><i class="fa-solid fa-building-columns"></i>Seminarios</a></li>
                    </ul>
                </nav>
                <div class="index__main__section__div__contenedor-curso">
                    <div class="index__main__section__div-curso">
                        <h3>HTML, CSS y JavaScript</h3>
                        <p><i class="fa-regular fa-clock"></i>14:00 hs</p>
                        <p><i class="fa-regular fa-calendar-days"></i>10 de agost</p>
                        <p><i class="fa-solid fa-user"></i>Hugo Avallay</p>
                    </div>

                    <div class="index__main__section__div-curso">
                        <h3>Responsive Web Design</h3>
                        <p><i class="fa-regular fa-clock"></i>10:00 hs</p>
                        <p><i class="fa-regular fa-calendar-days"></i>10 de agost</p>
                        <p><i class="fa-solid fa-user"></i>Her Avallay</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ivitados-->
        <section class="index__main__section-invitado">
            <h2>Nuestros Invitados</h2>

            <img class="separador" src="/img/separador.png" alt="">
            <div class="contenedor-panelistas">
                <div class="index__main__section-panelista">
                    <img src="/img/invitado1.jpg" alt="">
                    <p>Rafael Bautista</p>
                </div>

                <div class="index__main__section-panelista">
                    <img src="/img/invitado2.jpg" alt="">
                    <p>Shari Herrera</p>
                </div>

                <div class="index__main__section-panelista">
                    <img src="/img/invitado3.jpg" alt="">
                    <p>Gregorio Sanchez</p>
                </div>

                <div class="index__main__section-panelista">
                    <img src="/img/invitado4.jpg" alt="">
                    <p>Susana Rivera</p>
                </div>

                <div class="index__main__section-panelista">
                    <img src="/img/invitado5.jpg" alt="">
                    <p>Harold Garcia</p>
                </div>

                <div class="index__main__section-panelista">
                    <img src="/img/invitado6.jpg" alt="">
                    <p>Susan Vergara</p>
                </div>
            </div>

        </section>

        <!-- precio    -->
        <section class="index__main__section">
            <h2>precios</h2>
            <img class="separador" src="/img/separador.png" alt="">
            <div>
                <h3>Pase todos los dias</h3>
                <p>$6500</p>
                <ul>
                    <li>Bocadillos gratis</li>
                    <li>todas las conferencias</li>
                    <li>todos los talleres</li>
                </ul>
                <a class="boton" href="#">Comprar</a>
            </div>

            <div>
                <h3>Pase todos los dias</h3>
                <p>$3000</p>
                <ul>
                    <li>Bocadillos gratis</li>
                    <li>todas las conferencias</li>
                    <li>todos los talleres</li>
                </ul>
                <a class="boton" href="#">Comprar</a>
            </div>

            <div>
                <h3>Pase por 2 dias</h3>
                <p>$1500</p>
                <ul>
                    <li>Bocadillos gratis</li>
                    <li>todas las conferencias</li>
                    <li>todos los talleres</li>
                </ul>
                <a class="boton" href="#">Comprar</a>
            </div>

        </section>

        <!--Testimoniales -->
        <section class="index__main__section">
            <h2></h2>

        </section>

        <div class="index__main__section"></div>

        <div class="index__main__section"></div>

    </main>


    <!-- FOOTER -->
    <footer>

    </footer>
</body>

</html>